#mainDiv {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}

#sidebar {
    background-color: #007bff;
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
    gap: 10px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 99;
}

#contentDiv {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    ; */
}